.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin-right: 3rem;
}

.fa-solid {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  text-align: center;
}
